fastapi==0.111.0
uvicorn[standard]==0.30.1
python-multipart==0.0.9
torch==2.2.2
torchvision==0.17.2
facenet-pytorch==2.6.0
opencv-python-headless==4.9.0.80
scikit-image==0.22.0
numpy==1.26.4
Pillow==10.2.0
